*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../BG-Drop-Green.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
 }

.menu{
    line-height: 20px;
    text-transform: uppercase;
    float: right;
    margin-top: 10px;
    font-weight: 700;
}

.navi ul{
  list-style-type: none;
  padding: 0;
}

.navi .menu .menu_item{
  display: inline-block;
  position: relative;
}

.menu_item:hover{
  background-color: #000;
}

.navi .menu .menu_item a{
  text-decoration: none;
  color: #d4793a;
  padding: 5px 10px;
  border: 1px solid transparent;
  display: block;
}

.submenu{
  text-transform: none;
  display: none;
  position: absolute;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu_item:hover .submenu{
  display: block;
}

.submenu_item{
  border-left: 4px solid transparent;
}

.submenu_item:hover{
  background-color: rgba(0, 0, 0, 0.6);
  border-left: 4px solid rgba(212,121,58,1.00);
}

.logo img{
float:  left;
width: 400px;
height: auto;
margin-top: 18px;
}

.main{
  max-width: 1300px;
  margin: auto;
}

.title{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #d4793a;
  font-size: 70px;
}

.button{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn{
  border: 1px solid #d4793a;
  padding: 10px 30px;
  color: #d4793a;
  text-decoration: none;
}

.btn:hover{
  background-color: #fff;
  color: #d4793a;
}

.container{
  position: absolute;
  top: 51%;
  left: 70%;
  transform: translate(-50%,-50%);
}

input[type="text"], textarea{
  width: 150%;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 4px  solid #fff;
  margin-left: 10px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 16px;
  box-sizing: border-box;
  color: #fff;
}


label{
  color: #fff;
  margin-left: 10px;
}

input[type="text"]:focus{
  background-color: #d4793a;
  box-shadow: 0 0 0 2px;
  transition: 0.6s all;
  color: #000;
}

textarea:focus{
  background-color: #d4793a;
  box-shadow: 0 0 0 2px;
  /*transition: 0.6s all;*/
  color: #000;
}

input[type="submit"]{
  background-color: #e4792e;
  color: rgb(155, 34, 34);
  padding: 10px 48px;
  border-radius: 4px solid #fff;
  border: 2px solid #fff;
  cursor: pointer;
  margin-left: 10px;
}

input[type="submit"]:hover{
  background-color: #d4793a;
  box-shadow: 0 0 0 2px;
  transition: 0.6s all;
}


.blogs{
  position: absolute;
  top: 24.1%;
  left: 12.4%;
  transform: translate(-50%,-50%);
}

.blogs h2{
  color: #fff;
  font-size: 20px;
}


.address_image{
  flex: 50%;
  padding: 0 4px;
}

.address_image img{
  margin-top: 395px;
  margin-left: -228px;
  vertical-align:text-top;
}
